@font-face {
  font-family: "modam";
  font-weight: 200;
  src: url(/fonts/ModamFaNumWeb-Light.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Light.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 400;
  src: url(/fonts/ModamFaNumWeb-Medium.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "modam";
  font-weight: 800;
  src: url(/fonts/ModamFaNumWeb-Black.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-Black.woff2) format("woff2");
}



@font-face {
  font-family: "modam";
  font-weight: 600;
  src: url(/fonts/ModamFaNumWeb-SemiBold.woff) format("woff"),
    url(/fonts/ModamFaNumWeb-SemiBold.woff2) format("woff2");
}

* {
  direction: rtl;
  user-select: none !important;
  font-family: 'modam' !important;
  text-decoration-line: none !important;
}

body {
  background-color: #171932;
}